#_99tabs_menu {
  padding: 0 !important;
  margin: 0 !important;
  overflow-y: visible !important;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px; /*make width user-adjustable and remembered*/
  height: 100%;
  background: rgb(121,121,121);
  border-right: 2px solid rgb(102,102,102);
}

#_99tabs_frame {
  width: 100% !important;
  height: 100% !important;
  border: 0 !important;
}

body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  overflow: hidden !important;
}
